// Variables

// Width
$website-width: 1280px;

// Colors
$black: #000000;
$light-grey: #dfdfdf;
$dark-grey: #4c4c4c;
$white: #ffffff;
$logo-bot: #ffc593;
$logo-mid: #bc7198;
$logo-top: #5a77ff;

// Fonts
$dm-sans: 'DM Sans', sans-serif;
