// Classes

// Text
.text {
  font-family: $dm-sans;
  font-size: 15px;
  line-height: 25px;
}

.hr-1-large {
  font-family: $dm-sans;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 4px;
}

.hr-2 {
  font-family: $dm-sans;
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hr-3 {
  font-family: $dm-sans;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hr-4 {
  font-family: $dm-sans;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

// Buttons
.btn-1 {
  height: 40px;
  width: 158px;
  background: $black;
  align-items: center;
  text-align: center;
  border: none;
  color: $white;
  font-family: $dm-sans;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    background: $light-grey;
    color: $black;
  }
}

.btn-2 {
  height: 16px;
  width: 195px;
  background: $white;
  align-items: center;
  text-align: center;
  border: none;
  color: $black;
  font-family: $dm-sans;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.btn-3 {
  height: 40px;
  width: 158px;
  background: $white;
  align-items: center;
  text-align: center;
  border: none;
  color: $black;
  font-family: $dm-sans;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    background: $light-grey;
    color: $black;
  }
}

.btn-4 {
  height: 16px;
  width: 165px;
  background: $black;
  align-items: center;
  text-align: center;
  border: none;
  color: $white;
  font-family: $dm-sans;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Header
.head-cur {
  border-bottom: solid 2px $light-grey;
}

// Footer
.foot-cur {
  border-bottom: solid 3px $dark-grey;
}

// Icons
.fa-github {
  color: $white;

  &:hover {
    color: #bd2c00;
  }
}

.fa-linkedin {
  color: $white;

  &:hover {
    color: #0077b5;
  }
}

.fa-free-code-camp {
  color: $white;

  &:hover {
    color: #006400;
  }
}

.fa-twitter {
  color: $white;

  &:hover {
    color: #1da1f2;
  }
}

// Home Layout
.pic-right {
  height: 600px;
  display: flex;
}

.pic-left {
  height: 600px;
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 175px 6rem;
  height: 250px;
}

// Picture Grid
.cards {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  padding: 2rem 3rem;
  justify-content: flex-end;
  color: $white;
  transition: all 0.5s ease;

  &:after {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover {
    cursor: pointer;
    transform: translate(0, -50px);
    transition: all 0.5s ease;

    &:after {
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}

// Bottom Line on Card
.bot-line {
  position: absolute;
  bottom: 65px;
  left: 13%;
  width: 74%;
  height: 1px;
  background: $white;
  opacity: 0.5;
}

// Picture Card Layout
.card-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin-top: 20px;
  }
}

.card-date {
  margin-bottom: 5px;
}

.card-title {
  margin-bottom: 5px;
}

.card-author {
  margin-bottom: 5px;
}

.card-read {
  font-weight: bold;
  margin-top: 25px;
}

// Row of Cards Layout
.card-row {
  height: 300px;
  display: flex;
  padding: 5rem 12rem;
}

// Description Card
.description-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 2rem;

  img {
    height: 72px;
    width: 72px;
    margin-bottom: 50px;
  }

  h3 {
    letter-spacing: 1px;
    margin-bottom: 16px;
  }

  p {
    color: $dark-grey;
  }
}

// Features/Price Pic on Right Layout
.feat-pr-pic-rt {
  display: flex;
}

.feat-pr-desc {
  height: 490px;
  background: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10rem;

  h1 {
    margin-bottom: 20px;
  }

  p {
    color: $light-grey;
  }
}

// Pricing Options
.option {
  width: 270px;
  height: 400px;
  background: $light-grey;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin: 0 15px;
  padding: 0 40px;
  transition: all 0.5s ease;

  &:before {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }

  button {
    width: 90%;
  }

  &:hover {
    background: $black;
    color: $white;
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease;

    &:before {
      opacity: 1;
      transition: all 0.5s ease;
    }

    button {
      background: $white;
      color: $black;

      &:hover {
        background: $light-grey;
        cursor: pointer;
      }
    }
  }
}

// Toggle Switch
.active {
  color: $black;
}

.def-oval {
  background: $light-grey;
}

.def-circ {
  background: $black;
  transition: all 0.5s ease;
}

.oval-clicked {
  background: $black;
}

.circle-clicked {
  background: $white;
  transform: translate(32px, 0);
  transition: all 0.5s ease;
}

// Pricing Chart
.chart-row {
  text-transform: uppercase;
  border-bottom: solid $light-grey 1px;
  display: grid;
  grid-template-columns: 49% 17% 17% 17%;
  padding: 2rem 0 2rem 5px;

  &:first-child {
    border-bottom: solid 1px $black;
  }
}

.check {
  background-image: url('../images/pricing/desktop/check.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.second,
.third,
.fourth {
  text-align: center;
}
