@import 'config';
@import 'utilities';

// General
* {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  font-family: 'DM Sans', sans-serif;
}

// Lists
ul {
  list-style: none;
}

// Links
a {
  text-decoration: none;
}

// Header
header {
  padding: 0 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  ul {
    display: flex;
  }

  li {
    padding: 0 2rem;

    a {
      color: $black;

      &:hover {
        color: $light-grey;
      }
    }
  }

  #header-btn {
    display: inline;
  }

  #hamburger-img,
  #close-img,
  #dropdown-menu,
  #overlay {
    display: none;
  }
}

// Home
#home-a {
  display: flex;
  flex-direction: column;

  #home-a-top {
    background: $black;
    color: $white;

    #color-bar {
      position: absolute;
      height: 300px;
      width: 6px;
      left: 0;
      top: 225px;
      background: linear-gradient(
        26.57deg,
        #ffc593 0%,
        #bc7198 43.29%,
        #5a77ff 83.33%
      );
    }

    p {
      color: $light-grey;
    }
  }

  #home-a-mid {
    background: $white;
    color: $black;
  }

  #home-a-bot {
    background: $black;
    color: $white;

    p {
      color: $light-grey;
    }

    button {
      width: 195px;
    }
  }
}

#home-b {
  display: flex;

  #mountains-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sunset-city-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/cityscapes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #days-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/18-days-voyage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #architecturals-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/architecturals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#home-c {
  height: 300px;
  display: flex;
  padding: 5rem 12rem;
}

// Stories
#stories-a {
  height: 500px;
  background-image: radial-gradient(
      68.48% 68.48% at -15% 115%,
      #ffc593 0%,
      rgba(188, 113, 152, 0.496968) 52.36%,
      rgba(90, 119, 255, 0.0001) 100%
    ),
    url('/images/stories/desktop/moon-of-appalacia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  padding: 5rem;

  #stories-a-mobile {
    display: none;
  }

  #stories-a-content {
    width: 25%;

    h1 {
      margin-bottom: 24px;
    }

    h4 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 24px;
    }

    h3 {
      width: 150px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

#stories-b {
  #mountains-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #sunset-city-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/cityscapes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #days-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/18-days-voyage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #architecturals-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/architecturals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #world-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/world-tour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #unforeseen-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/unforeseen-corners.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #king-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/king-on-africa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #nowhere-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/trip-to-nowhere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #rage-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/rage-of-the-sea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #running-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/running-free.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #behind-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/behind-the-waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #calm-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/calm-waters.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #milky-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/milky-way.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #night-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/dark-forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #somwarts-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/somwarpet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #land-card {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.7) 90%
      ),
      url('/images/stories/desktop/land-of-dreams.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Features
#features-a {
  #feat-a-color-bar {
    position: absolute;
    height: 144px;
    width: 6px;
    left: 0;
    top: 250px;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
}

#features-b {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .card-row {
    padding: 0 12rem;
  }

  img {
    margin-bottom: 30px;
  }
}

#features-c {
  background-image: url('/images/shared/desktop/bg-beta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;

  #feat-c-color-bar {
    position: absolute;
    height: 280px;
    width: 6px;
    left: 0;
    top: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }

  h1 {
    width: 35%;
  }
}

// Pricing
#pricing-a {
  #price-a-color-bar {
    position: absolute;
    height: 144px;
    width: 6px;
    left: 0;
    top: 250px;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }
}

#pricing-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 160px;
  color: $light-grey;

  #price-b-color-bar {
    display: none;
  }

  #month-year-cont {
    display: flex;
    padding-bottom: 48px;
    align-items: center;

    #switch {
      border: none;
      height: 32px;
      width: 64px;
      border-radius: 16px;
      margin: 0 32px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      #circle {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }
  }

  #options-container {
    display: flex;
  }
}

#pricing-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;

  #chart {
    height: 730px;
    width: 550px;
  }
}

#pricing-c-mobile {
  width: 80%;
  display: none;
  flex-direction: column;
  margin: 0 auto;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
  }

  #mob-chart-title {
    border-bottom: 2px solid $black;
  }

  #mob-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;

    .mob-chart-row {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid $light-grey;
      padding-bottom: 15px;

      .mob-chart-row-titles {
        display: flex;
        width: 90%;
        justify-content: space-between;

        p {
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1.67px;
        }
      }

      .checks {
        display: grid;
        grid-template-columns: 37% 32% 25%;

        .check {
          width: 16px;
          height: 12px;
        }
      }
    }
  }
}

#pricing-d {
  background-image: url('/images/shared/desktop/bg-beta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;

  #price-d-color-bar {
    position: absolute;
    height: 280px;
    width: 6px;
    left: 0;
    top: 0;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }

  h1 {
    width: 35%;
  }
}

// Footer
footer {
  background: $black;
  color: $white;
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;

  #footer-left {
    display: flex;
    align-items: center;

    #footer-left-left {
      height: 115px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 100px;

      #socials {
        a {
          margin-right: 10px;

          img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    #footer-left-right {
      li {
        padding: 0.5rem 0;

        a {
          color: $white;

          &:hover {
            color: $dark-grey;
          }
        }
      }
    }
  }
  #footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    #copyright {
      color: $dark-grey;
    }
  }
}

@import 'mobile';
